/* This code styles the structural components of the website that are intended to be reused */

/* ----------- iPhone 4 and 4S ----------- */

/* mobile*/
@media only screen and (max-width: 667px) {
  .hidden-on-m{display:none;}

  .float-m-left{float: left;}
  .float-m-right{float: right;}
  .float-m-middle{margin:auto;}

  .text-align-m-left{text-align: left;}
  .text-align-m-center{text-align: center;}
  .text-align-m-right{text-align: right;}


  .col-m-1  {width: 8.33%;}
  .col-m-2  {width: 16.66%;}
  .col-m-3  {width: 25%;}
  .col-m-4  {width: 33.33%;}
  .col-m-5  {width: 41.66%;}
  .col-m-6  {width: 50%;}
  .col-m-7  {width: 58.33%;}
  .col-m-8  {width: 66.66%;}
  .col-m-9  {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}

  .height-m-1  {height:5px;}
  .height-m-2  {height:10px;}
  .height-m-3  {height:20px;}
  .height-m-4  {height:30px;}
  .height-m-5  {height:40px;}
  .height-m-6  {height:80px;}
  .height-m-7  {height:100px}
  .height-m-8  {height:120px;}
  .height-m-9  {height:180px;}
  .height-m-10 {height:240px;}
  .height-m-11 {height:320px;}
  .height-m-12 {height:420px;}
  .height-m-13 {height:520px;}
  .height-m-14 {height:620px;}
  .height-m-15 {height:720px;}

  .margin-top-m-0 {margin-top: 0px;}
  .margin-top-m-1 {margin-top: 1px;}
  .margin-top-m-2 {margin-top: 2px;}
  .margin-top-m-3 {margin-top: 3px;}
  .margin-top-m-4 {margin-top: 4px;}
  .margin-top-m-5 {margin-top: 5px;}
  .margin-top-m-6 {margin-top: 10px;}
  .margin-top-m-7 {margin-top: 15px;}
  .margin-top-m-8 {margin-top: 20px;}
  .margin-top-m-9 {margin-top: 30px;}
  .margin-top-m-10{margin-top: 40px;}
  .margin-top-m-11{margin-top: 50px;}
  .margin-top-m-12{margin-top: 60px;}

  .margin-left-m-0 {margin-left: 0px;}
  .margin-left-m-1 {margin-left: 1px;}
  .margin-left-m-2 {margin-left: 2px;}
  .margin-left-m-3 {margin-left: 3px;}
  .margin-left-m-4 {margin-left: 4px;}
  .margin-left-m-5 {margin-left: 5px;}
  .margin-left-m-6 {margin-left: 10px;}
  .margin-left-m-7 {margin-left: 15px;}
  .margin-left-m-8 {margin-left: 20px;}
  .margin-left-m-9 {margin-left: 30px;}
  .margin-left-m-10{margin-left: 40px;}
  .margin-left-m-11{margin-left: 50px;}
  .margin-left-m-12{margin-left: 60px;}

  .margin-right-m-0 {margin-right: 0px;}
  .margin-right-m-1 {margin-right: 1px;}
  .margin-right-m-2 {margin-right: 2px;}
  .margin-right-m-3 {margin-right: 3px;}
  .margin-right-m-4 {margin-right: 4px;}
  .margin-right-m-5 {margin-right: 5px;}
  .margin-right-m-6 {margin-right: 10px;}
  .margin-right-m-7 {margin-right: 15px;}
  .margin-right-m-8 {margin-right: 20px;}
  .margin-right-m-9 {margin-right: 30px;}
  .margin-right-m-10{margin-right: 40px;}
  .margin-right-m-11{margin-right: 50px;}
  .margin-right-m-12{margin-right: 60px;}

  .padding-m-1{padding: 1px;}

  .border-radius-m-1{border-radius: 8.33%;}
  .border-radius-m-2{border-radius: 16.66%;}
  .border-radius-m-3{border-radius: 25%;}
  .border-radius-m-4{border-radius: 33.33%;}
  .border-radius-m-5{border-radius: 41.66%;}
  .border-radius-m-6{border-radius: 50%;}
  .border-radius-m-7{border-radius: 58.33%;}
  .border-radius-m-8{border-radius: 66.66%;}
  .border-radius-m-9{border-radius: 75%;}
  .border-radius-m-10{border-radius: 83.33%;}
  .border-radius-m-11{border-radius: 91.66%;}
  .border-radius-m-12{border-radius: 100%;}

  .bottom-right-border-radius-m-1 {border-bottom-right-radius: 8.33%;}
  .bottom-right-border-radius-m-2 {border-bottom-right-radius: 16.66%;}
  .bottom-right-border-radius-m-3 {border-bottom-right-radius: 25%;}
  .bottom-right-border-radius-m-4 {border-bottom-right-radius: 33.33%;}
  .bottom-right-border-radius-m-5 {border-bottom-right-radius: 41.66%;}
  .bottom-right-border-radius-m-6 {border-bottom-right-radius: 50%;}
  .bottom-right-border-radius-m-7 {border-bottom-right-radius: 58.33%;}
  .bottom-right-border-radius-m-8 {border-bottom-right-radius: 66.66%;}
  .bottom-right-border-radius-m-9 {border-bottom-right-radius: 75%;}
  .bottom-right-border-radius-m-10{border-bottom-right-radius: 83.33%;}
  .bottom-right-border-radius-m-11{border-bottom-right-radius: 91.66%;}
  .bottom-right-border-radius-m-12{border-bottom-right-radius: 100%;}
}
/*tablet*/
@media only screen and (min-width: 668px) and (max-width: 1023px){
  .hidden-on-tb{display: none;}

  .float-tb-left{float: left;}
  .float-tb-right{float: right;}
  .float-tb-middle{margin:auto;}

  .text-align-tb-left{text-align: left;}
  .text-align-tb-center{text-align: center;}
  .text-align-tb-right{text-align: right;}

  .col-tb-1  {width: 8.33%;}
  .col-tb-2  {width: 16.66%;}
  .col-tb-3  {width: 25%;}
  .col-tb-4  {width: 33.33%;}
  .col-tb-5  {width: 41.66%;}
  .col-tb-6  {width: 50%;}
  .col-tb-7  {width: 58.33%;}
  .col-tb-8  {width: 66.66%;}
  .col-tb-9  {width: 75%;}
  .col-tb-10 {width: 83.33%;}
  .col-tb-11 {width: 91.66%;}
  .col-tb-12 {width: 100%;}

  .height-tb-1  {height:5px;}
  .height-tb-2  {height:10px;}
  .height-tb-3  {height:20px;}
  .height-tb-4  {height:33px;}
  .height-tb-5  {height:50px;}
  .height-tb-6  {height:75px;}
  .height-tb-7  {height:100px}
  .height-tb-8  {height:120px;}
  .height-tb-9  {height:180px;}
  .height-tb-10 {height:240px;}
  .height-tb-11 {height:320px;}
  .height-tb-12 {height:420px;}

  .margin-top-tb-0 {margin-top: 0px;}
  .margin-top-tb-1 {margin-top: 1px;}
  .margin-top-tb-2 {margin-top: 2px;}
  .margin-top-tb-3 {margin-top: 3px;}
  .margin-top-tb-4 {margin-top: 4px;}
  .margin-top-tb-5 {margin-top: 5px;}
  .margin-top-tb-6 {margin-top: 10px;}
  .margin-top-tb-7 {margin-top: 15px;}
  .margin-top-tb-8 {margin-top: 20px;}
  .margin-top-tb-9 {margin-top: 30px;}
  .margin-top-tb-10{margin-top: 40px;}
  .margin-top-tb-11{margin-top: 50px;}
  .margin-top-tb-12{margin-top: 60px;}

  .margin-left-tb-1 {margin-left: 1px;}
  .margin-left-tb-2 {margin-left: 2px;}
  .margin-left-tb-3 {margin-left: 3px;}
  .margin-left-tb-4 {margin-left: 4px;}
  .margin-left-tb-5 {margin-left: 5px;}
  .margin-left-tb-6 {margin-left: 10px;}
  .margin-left-tb-7 {margin-left: 15px;}
  .margin-left-tb-8 {margin-left: 20px;}
  .margin-left-tb-9 {margin-left: 30px;}
  .margin-left-tb-10{margin-left: 40px;}
  .margin-left-tb-11{margin-left: 50px;}
  .margin-left-tb-12{margin-left: 60px;}

  .margin-right-tb-0 {margin-right: 0px;}
  .margin-right-tb-1 {margin-right: 1px;}
  .margin-right-tb-2 {margin-right: 2px;}
  .margin-right-tb-3 {margin-right: 3px;}
  .margin-right-tb-4 {margin-right: 4px;}
  .margin-right-tb-5 {margin-right: 5px;}
  .margin-right-tb-6 {margin-right: 10px;}
  .margin-right-tb-7 {margin-right: 15px;}
  .margin-right-tb-8 {margin-right: 20px;}
  .margin-right-tb-9 {margin-right: 30px;}
  .margin-right-tb-10{margin-right: 40px;}
  .margin-right-tb-11{margin-right: 50px;}
  .margin-right-tb-12{margin-right: 60px;}

  .padding-tb-1{padding: 1px;}

  .border-radius-tb-1{border-radius: 8.33%;}
  .border-radius-tb-2{border-radius: 16.66%;}
  .border-radius-tb-3{border-radius: 25%;}
  .border-radius-tb-4{border-radius: 33.33%;}
  .border-radius-tb-5{border-radius: 41.66%;}
  .border-radius-tb-6{border-radius: 50%;}
  .border-radius-tb-7{border-radius: 58.33%;}
  .border-radius-tb-8{border-radius: 66.66%;}
  .border-radius-tb-9{border-radius: 75%;}
  .border-radius-tb-10{border-radius: 83.33%;}
  .border-radius-tb-11{border-radius: 91.66%;}
  .border-radius-tb-12{border-radius: 100%;}

  .bottom-right-border-radius-tb-1 {border-bottom-right-radius: 8.33%;}
  .bottom-right-border-radius-tb-2 {border-bottom-right-radius: 16.66%;}
  .bottom-right-border-radius-tb-3 {border-bottom-right-radius: 25%;}
  .bottom-right-border-radius-tb-4 {border-bottom-right-radius: 33.33%;}
  .bottom-right-border-radius-tb-5 {border-bottom-right-radius: 41.66%;}
  .bottom-right-border-radius-tb-6 {border-bottom-right-radius: 50%;}
  .bottom-right-border-radius-tb-7 {border-bottom-right-radius: 58.33%;}
  .bottom-right-border-radius-tb-8 {border-bottom-right-radius: 66.66%;}
  .bottom-right-border-radius-tb-9 {border-bottom-right-radius: 75%;}
  .bottom-right-border-radius-tb-10{border-bottom-right-radius: 83.33%;}
  .bottom-right-border-radius-tb-11{border-bottom-right-radius: 91.66%;}
  .bottom-right-border-radius-tb-12{border-bottom-right-radius: 100%;}
}
/*desktop*/
@media only screen and (min-width: 1024px){
  .hidden-on-d{display: none;}

  .float-d-left{float: left;}
  .float-d-right{float: right;}
  .float-d-middle{margin:auto;}

  .text-align-d-left{text-align: left;}
  .text-align-d-center{text-align: center;}
  .text-align-d-right{text-align: right;}

  .col-d-1  {width: 8.33%;}
  .col-d-2  {width: 16.66%;}
  .col-d-3  {width: 25%;}
  .col-d-4  {width: 33.33%;}
  .col-d-5  {width: 41.66%;}
  .col-d-6  {width: 50%;}
  .col-d-7  {width: 58.33%;}
  .col-d-8  {width: 66.66%;}
  .col-d-9  {width: 75%;}
  .col-d-10 {width: 83.33%;}
  .col-d-11 {width: 91.66%;}
  .col-d-12 {width: 100%;}

  .height-d-1  {height:5px;}
  .height-d-2  {height:10px;}
  .height-d-3  {height:20px;}
  .height-d-4  {height:33px;}
  .height-d-5  {height:50px;}
  .height-d-6  {height:75px;}
  .height-d-7  {height:100px}
  .height-d-8  {height:120px;}
  .height-d-9  {height:180px;}
  .height-d-10 {height:240px;}
  .height-d-11 {height:320px;}
  .height-d-12 {height:420px;}

  .margin-top-d-0 {margin-top: 0px;}
  .margin-top-d-1 {margin-top: 1px;}
  .margin-top-d-2 {margin-top: 2px;}
  .margin-top-d-3 {margin-top: 3px;}
  .margin-top-d-4 {margin-top: 4px;}
  .margin-top-d-5 {margin-top: 5px;}
  .margin-top-d-6 {margin-top: 10px;}
  .margin-top-d-7 {margin-top: 15px;}
  .margin-top-d-8 {margin-top: 20px;}
  .margin-top-d-9 {margin-top: 30px;}
  .margin-top-d-10{margin-top: 40px;}
  .margin-top-d-11{margin-top: 50px;}
  .margin-top-d-12{margin-top: 60px;}

  .margin-left-d-0 {margin-left: 0px;}
  .margin-left-d-1 {margin-left: 1px;}
  .margin-left-d-2 {margin-left: 2px;}
  .margin-left-d-3 {margin-left: 3px;}
  .margin-left-d-4 {margin-left: 4px;}
  .margin-left-d-5 {margin-left: 5px;}
  .margin-left-d-6 {margin-left: 10px;}
  .margin-left-d-7 {margin-left: 15px;}
  .margin-left-d-8 {margin-left: 20px;}
  .margin-left-d-9 {margin-left: 30px;}
  .margin-left-d-10{margin-left: 40px;}
  .margin-left-d-11{margin-left: 50px;}
  .margin-left-d-12{margin-left: 60px;}

  .margin-right-m-0 {margin-right: 0px;}
  .margin-right-m-1 {margin-right: 1px;}
  .margin-right-m-2 {margin-right: 2px;}
  .margin-right-m-3 {margin-right: 3px;}
  .margin-right-m-4 {margin-right: 4px;}
  .margin-right-m-5 {margin-right: 5px;}
  .margin-right-m-6 {margin-right: 10px;}
  .margin-right-m-7 {margin-right: 15px;}
  .margin-right-m-8 {margin-right: 20px;}
  .margin-right-m-9 {margin-right: 30px;}
  .margin-right-m-10{margin-right: 40px;}
  .margin-right-m-11{margin-right: 50px;}
  .margin-right-m-12{margin-right: 60px;}

  .padding-m-1{padding: 0px;}

  .border-radius-m-1{border-radius: 8.33%;}
  .border-radius-m-2{border-radius: 16.66%;}
  .border-radius-m-3{border-radius: 25%;}
  .border-radius-m-4{border-radius: 33.33%;}
  .border-radius-m-5{border-radius: 41.66%;}
  .border-radius-m-6{border-radius: 50%;}
  .border-radius-m-7{border-radius: 58.33%;}
  .border-radius-m-8{border-radius: 66.66%;}
  .border-radius-m-9{border-radius: 75%;}
  .border-radius-m-10{border-radius: 83.33%;}
  .border-radius-m-11{border-radius: 91.66%;}
  .border-radius-m-12{border-radius: 100%;}

  .bottom-right-border-radius-m-1 {border-bottom-right-radius: 8.33%;}
  .bottom-right-border-radius-m-2 {border-bottom-right-radius: 16.66%;}
  .bottom-right-border-radius-m-3 {border-bottom-right-radius: 25%;}
  .bottom-right-border-radius-m-4 {border-bottom-right-radius: 33.33%;}
  .bottom-right-border-radius-m-5 {border-bottom-right-radius: 41.66%;}
  .bottom-right-border-radius-m-6 {border-bottom-right-radius: 50%;}
  .bottom-right-border-radius-m-7 {border-bottom-right-radius: 58.33%;}
  .bottom-right-border-radius-m-8 {border-bottom-right-radius: 66.66%;}
  .bottom-right-border-radius-m-9 {border-bottom-right-radius: 75%;}
  .bottom-right-border-radius-m-10{border-bottom-right-radius: 83.33%;}
  .bottom-right-border-radius-m-11{border-bottom-right-radius: 91.66%;}
  .bottom-right-border-radius-m-12{border-bottom-right-radius: 100%;}
}
